<div class="title-block">
  <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
    Loading...
</section>


<section class="section" *ngIf="isLoaded">
  <div class="row">
      <div class="col-md-6">
          <sts-add-event
          [categories]="categories" 
          ></sts-add-event>
      </div>
      <div class="col-md-6">
          <sts-add-category (onCategoryAdd)="newCategoryAdded($event)"></sts-add-category>
      </div> 
  </div>
  <div class="row col-md-6">
    <sts-edit-category 
        [categories]="categories"
        (onCategoryEdit)="categoryWasEdited($event)"
    ></sts-edit-category> 
  </div>
</section>