<div class="title-block">
  <h3 class="title pull-left">
      Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
      <button class="btn-sm btn btn-primary-outline" (click)="openFilter()"> 
        <i class="fa fa-filter"></i>
      </button>
    </div>
</div>
<div *ngIf="!isLoaded" class="text-center">
    <sts-loader></sts-loader>
</div>
<div *ngIf="isLoaded">
  <sts-history-chart [data]="chartData"></sts-history-chart>

  <sts-history-events 
    [categories]="categories"
    [events]="filteredEvents"
    [curencyRubValue]="curencyRubValue"  
  ></sts-history-events>
  
  <div *ngIf="isFilterVisivle">
      <sts-history-filter
        (onFilterApply)="onFilterApply($event)" 
        (onFilterCancel)="onFilterCancel()"
        [categories]="categories"
      ></sts-history-filter>
  </div>
  
</div> 